<header id="header" class="fixed-top">
  <div class="container d-flex">

    <div class="logo mr-auto">
      <h1 class="text-light"><a href="index.html">Maxim</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    </div>

    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li class="active"><a routerLink="/about">About Us</a></li>
        <li><a routerLink="/services">Services</a></li>
        <li><a routerLink="/potfolio">Portfolio</a></li>
        <li><a routerLink="/team">Team</a></li>
        <li ><a routerLink="/products">Our products</a></li>
        <li ><a routerLink="/cart">Cart</a></li>
        <li><a routerLink="/create-employee">Any Help?</a></li>
        <li><a routerLink="/login">login/Register</a></li>
        

      </ul>
    </nav><!-- .nav-menu -->

  </div>
</header><!-- End Header -->

<section id="about" class="about">
  <div class="container">

    <div class="row">
      <div class="col-xl-6 col-lg-7" data-aos="fade-right">
        <img src="assets/img/about-img.jpg" class="img-fluid" alt="">
      </div>
      <div class="col-xl-6 col-lg-5 pt-5 pt-lg-0">
        <h3 data-aos="fade-up">
          Maxim Interior Decorators</h3>
        
        <div class="icon-box" data-aos="fade-up">
          <i class="bx bx-receipt"></i>
          <h4>We are the best Interior designer since 1990.</h4>
          <p>We actually optimize the needs of clients and we exactly produce the output according to specifications that are given by client. The interiors designed by us represent a unique panorama of elegance, style, unmatched designs, diversity and colors that are sure to captivate anyone
            We are recognized in the field of interior design for our phenomenal work, quality, dedication, creative and kindness.</p>
        </div>

        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
          <i class="bx bx-cube-alt"></i>
          <h4>Nobody can beat our work designs</h4>
          <p>To provide a streamlined execution of your project our designing and execution team is outfitted with latest software’s machinery and hand tools which helps us to deliver quality output on time. With careful attention to space, style and function we craft Interiors that are unique and reflective of you.
             We believe into creating an atmosphere of your dream home by unique and creative interior designs at reasonable prices.</p>
        </div>

        <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
          <i class="bx bx-cube-alt"></i>
          <h4>What makes us best</h4>
          <p>Setting an unmatched standard of quality and perfection into work is difficult task for everyone. We introduce ourselves as one of the Leading Interior Designing Company that has challenged the conventional way of thinking and thus given new dimensions to interior designing in the region.
            We are committed to provide originality in design, value for money and solutions that is totally effective.</p>
        </div>

      </div>
    </div>
 </div>
 </section>

  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Maxim</h3>
              <p>
                B 116 Chhatarpur <br>
                New Delhi, India<br><br>
                <strong>Phone:</strong> +91 8799728923<br>  +91 8802603443<br>
                <strong>Email:</strong> info@example.com<br>
              </p>
              <div class="social">
                <a href="https://www.twitter.com"><i class="bx bxl-twitter"></i></a>
                <a href="http://www.facebook.com"><i class="bx bxl-facebook"></i></a>
                <a href="https://www.instagram.com"><i class="bx bxl-instagram"></i></a>
                <a href="https://www.linkedin.com"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="/home">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="/about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="/services">Services</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="/services">False Ceiling</a></li>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="/services">Wooden Flooring</a></li>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="/services">Wall Work</a></li>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="/services">Furniture</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Get in Touch</h4>
            <button style="font-size:24px; background-color: #0c1817; border: none;"><a routerLink="/contact" style="color:white">Contact Us </a><i class="fa fa-user-circle" style="margin-left: 5px;"></i></button>

          </div>

        </div>
      </div>
    </div>

  </footer>