
<header id="header" class="fixed-top">
    <div class="container d-flex">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="index.html">Maxim</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a routerLink="/">Home</a></li>
          <li><a routerLink="/about">About Us</a></li>
          <li><a routerLink="/services">Services</a></li>
          <li><a routerLink="/potfolio">Portfolio</a></li>
          <li><a routerLink="/team">Team</a></li>
          <li><a routerLink="/products">Our Product</a></li>
          <li ><a routerLink="/cart">Cart</a></li>
          <li><a routerLink="/create-employee">Any Help?</a></li>
          
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->
  

<section id="contact" class="contact">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Contact</h2>
        <p>We the team of Maxim is always dedicated to provide our best services to our clients and we are here whenever you need.Just drop a mail or make a call we will be getting in touch with you to guide you. </p>
      </div>

      <div class="row no-gutters justify-content-center" data-aos="fade-up">

        <div class="col-lg-5 d-flex align-items-stretch">
          <div class="info">

            <div class="address">
              <i class="icofont-google-map"></i>
              <h4>Location:</h4>
              <p>B 116 Chhatarpur, New Delhi, INDIA 110074</p>
            </div>

            <div class="email mt-4">
              <i class="icofont-envelope"></i>
              <h4>Email:</h4>
              <p>info@example.com</p>
            </div>

            <div class="phone mt-4">
              <i class="icofont-phone"></i>
              <h4>Call:</h4>
              <p>+1 5589 55488 55s</p>
            </div>

          </div>

        </div>

        <div class="col-lg-5 d-flex align-items-stretch">
          <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen></iframe>
        </div>
</div>
      </div>
  </section>
  
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Maxim</h3>
              <p>
                B 116 Chhatarpur <br>
                New Delhi, India<br><br>
                <strong>Phone:</strong> +91 8799728923<br>  +91 8802603443<br>
                <strong>Email:</strong> info@example.com<br>
              </p>
              <div class="social">
                <a href="https://www.twitter.com"><i class="bx bxl-twitter"></i></a>
                <a href="http://www.facebook.com"><i class="bx bxl-facebook"></i></a>
                <a href="https://www.instagram.com"><i class="bx bxl-instagram"></i></a>
                <a href="https://www.linkedin.com"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="/home">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="/about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="/services">Services</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="/services">False Ceiling</a></li>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="/services">Wooden Flooring</a></li>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="/services">Wall Work</a></li>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="/services">Furniture</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Get in Touch</h4>
            <button style="font-size:24px; background-color: #0c1817; border: none;"><a routerLink="/contact" style="color:white">Contact Us </a><i class="fa fa-user-circle" style="margin-left: 5px;"></i></button>

          </div>

        </div>
      </div>
    </div>

  </footer>





