ul li {
    list-style-type: none;
    padding-left: 0px;
    line-height: 25px;
    }
    
    .heading{
        font-weight: 600;
        /* text-align: -webkit-center; */
        letter-spacing: normal;
        margin: 0 0 25px;
        font-size: 29px;
    }

    button.mat-focus-indicator.mat-raised-button.mat-button-base.mat-accent {
        background-color: black;
    }

    .totalText{
        font-weight: 600;
    }
    
    ul.total {
        display: flex;
        font-size: 20px;
        column-gap: 20px;
    }

    img {
        height: 150px;
        width: 150px;
    }
    
    ul {
        margin-bottom: 55px;
        text-align: inherit;
        flex-basis: 33%;
    }

    .cartTable {
        flex-wrap: wrap;
        display: flex;
    }

    span.head {
        font-weight: 600;
    }