<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"><!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="index.html">Maxim</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/about">About Us</a></li>
          <li  class="active"><a routerLink="/services">Services</a></li>
          <li><a routerLink="/potfolio">Portfolio</a></li>
          <li><a routerLink="/team">Team</a></li>
          <li><a routerLink="/products">Our Products</a></li>
          <li ><a routerLink="/cart">Cart</a></li>
          <li><a routerLink="/create-employee">Any Help?</a></li>
          <li><a routerLink="/login">login/Register</a></li>
         
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->
  

<section id="services" class="services section-bg">
  <div class="container">

    <div class="section-title" data-aos="fade-up">
      <h2>Services</h2>
      <p>Setting an unmatched standard of quality and perfection into work is difficult task for everyone. We introduce ourselves as one of the Leading Interior Designing Company that has challenged the conventional way of thinking and thus given new dimensions to interior designing in the region.
         We are committed to provide originality in design, value for money and solutions that is totally effective.</p>
    </div>

    <div class="row">
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up">
        <div class="icon-box icon-box-pink">
          <h4 class="title"><a href="">FALSE CEILING</a></h4>
          <p class="description">Ceilings are one of 
            the important elements of an interior space as they offer the maximum unobstructed view of working spaces.Since a ceiling has a large surface area, it plays an important role in the acoustic and thermal comfort of a space.

            <li>Gypsum false ceilings</li>
             <li>Wood false ceilings</li> 
              <li>Fibre false ceilings</li>
             <li> Metal false ceilings</li>
             <li> Glass false ceilings</li>
              <li>PVC false ceilings</li> </p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
        <div class="icon-box icon-box-cyan">
          
          <h4 class="title"><a href="">WOODEN FLOORING</a></h4>
          <p class="description">Wooden flooring has replaced traditional marble and stone as the choice for interiors in man’s constant search for a more functionally evolved and aesthetically superior floor surface material. Sharper Image’s 
            range of Wooden Laminated Floors, manufactured with the latest and the best technologies, are resistant to
             scratch
             <li>Easy to clean</li>
             <li>Variety</li>
             <li>Ageless quality</li></p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="200">
        <div class="icon-box icon-box-green">
          <h4 class="title"><a href="">WALL WORK</a></h4>
          <p class="description">
            We try to put your heart and soul into designing, the living room would top the list. It’s that treasured
             (and often off-limits) space that sets the tone for your entire decorating style.
             <li>Apex Geometric Wallpaper
              </li>
             <li>Aster Geometric Wallpaper</li>
             <li>Austin Rose Wallpaper</li>
             <li>Akimbo Metallic Chevron Wallpaper</li>
             <li>Annabelle Tree Wallpaper</li>
          </p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="300">
        <div class="icon-box icon-box-blue">
          <h4 class="title"><a href="">FURNITURE</a></h4>
          <p class="description">Your home is more than a house, it’s the daily moments and experiences you share that make it uniquely you. At BID, we celebrate being home with you.
             Our locally owned and operated stores are passionate about being the best and most affordable Sofas for your home.
            <li>Cushion filling</li>
          <li>Frame material</li>
        <li>Polyester fibres</li>
      <li>Suspension</li></p>
        </div>
      </div>
      </div>
      </div>
      </section>

      <footer id="footer">
        <div class="footer-top">
          <div class="container">
            <div class="row">
    
              <div class="col-lg-3 col-md-6">
                <div class="footer-info">
                  <h3>Maxim</h3>
                  <p>
                    B 116 Chhatarpur <br>
                    New Delhi, India<br><br>
                    <strong>Phone:</strong> +91 8799728923<br>  +91 8802603443<br>
                    <strong>Email:</strong> info@example.com<br>
                  </p>
                  <div class="social">
                    <a href="https://www.twitter.com"><i class="bx bxl-twitter"></i></a>
                    <a href="http://www.facebook.com"><i class="bx bxl-facebook"></i></a>
                    <a href="https://www.instagram.com"><i class="bx bxl-instagram"></i></a>
                    <a href="https://www.linkedin.com"><i class="bx bxl-linkedin"></i></a>
                  </div>
                </div>
              </div>
    
              <div class="col-lg-2 col-md-6 footer-links">
                <h4>Useful Links</h4>
                <ul>
                  <li><i class="bx bx-chevron-right"></i> <a routerLink="/home">Home</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a routerLink="/about">About us</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a routerLink="/services">Services</a></li>
                </ul>
              </div>
    
              <div class="col-lg-3 col-md-6 footer-links">
                <h4>Our Services</h4>
                <ul>
                  <li><i class="bx bx-chevron-right"></i> <a routerLink="/services">False Ceiling</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a routerLink="/services">Wooden Flooring</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a routerLink="/services">Wall Work</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a routerLink="/services">Furniture</a></li>
                </ul>
              </div>
    
              <div class="col-lg-4 col-md-6 footer-newsletter">
                <h4>Get in Touch</h4>
                <button style="font-size:24px; background-color: #0c1817; border: none;"><a routerLink="/contact" style="color:white">Contact Us </a><i class="fa fa-user-circle" style="margin-left: 5px;"></i></button>

              </div>
    
            </div>
          </div>
        </div>
    
      </footer>