<header id="header" class="fixed-top">
  <div class="container d-flex">

    <div class="logo mr-auto">
      <h1 class="text-light"><a href="index.html">Maxim</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    </div>

    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about">About Us</a></li>
        <li><a routerLink="/services">Services</a></li>
        <li class="active"><a routerLink="/potfolio">Portfolio</a></li>
        <li><a routerLink="/team">Team</a></li>
        <li><a routerLink="/products">Our Products</a></li>
        <li ><a routerLink="/cart">Cart</a></li>
        <li><a routerLink="/create-employee">Any Help?</a></li>
        <li><a routerLink="/login">login/Register</a></li>
        
      </ul>
    </nav><!-- .nav-menu -->

  </div>
</header><!-- End Header -->

<section id="portfolio" class="portfolio section-bg">
  <div class="container">

    <div class="section-title" data-aos="fade-up">
      <h2>Portfolio</h2>
      <p>Over the last twelve years, Nitido Design has come to be recognised as one of the very best interior designers in India. Our area of specialization is luxury interiors, which is something we love and excel at. We are very well regarded within the community of interior decorators as well as the ever growing society of home owners across the country, for the quality of our services and our continual attention to detail.</p>
    </div>

    <div class="row" data-aos="fade-up">
      <div class="col-lg-12 d-flex justify-content-center">
        <ul id="portfolio-flters">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-app">Residential</li>
          <li data-filter=".filter-card">Commercial</li>
          <li data-filter=".filter-web">Designed Items</li>

        </ul>
      </div>
    </div>

    <div class="row portfolio-container" data-aos="fade-up">

      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
          <img src="assets/img/portfolio/01-cover (1).jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Stylish Apartment in Lower Parel</h4>
            <p>Residential Interiors   |   1200 sq ft</p>
            <div class="portfolio-links">
              <a href="assets/img/portfolio/01-cover (1).jpg" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="bx bx-plus"></i></a>
              <a routerLink="/potfolio" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-wrap">
          <img src="assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4></h4>
            <p> </p>
            <div class="portfolio-links">
              <a href="assets/img/portfolio/Cutting-Edge-Office-in-Mulund.jpg" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
              <a routerLink="/potfolio" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
          <img src="assets/img/portfolio/01Living001-cover.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Eclectic Residence in Lower Parel</h4>
            <p>Residential Interiors   |   1250 sq ft</p>
            
            <div class="portfolio-links">
              <a href="assets/img/portfolio/01Living001-cover.jpg" data-gall="portfolioGallery" class="venobox" title="App 2"><i class="bx bx-plus"></i></a>
              <a routerLink="/potfolio" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <div class="portfolio-wrap">
          <img src="assets/img/portfolio/Cutting-Edge-Office-in-Mulund.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Cutting Edge Office in Mulund</h4>
            <p> Commercial Interiors   |   1800 sq f</p>
            <div class="portfolio-links">
              <a href="assets/img/portfolio/portfolio-4.jpg" data-gall="portfolioGallery" class="venobox" title="Card 2"><i class="bx bx-plus"></i></a>
              <a routerLink="/potfolio" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-wrap">
          <img src="assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4></h4>
            <p></p>
            <div class="portfolio-links">
              <a href="assets/img/portfolio/portfolio-6.jpg" data-gall="portfolioGallery" class="venobox" title="Web 2"><i class="bx bx-plus"></i></a>
              <a routerLink="/potfolio" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-wrap">
          <img src="assets/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4></h4>
            <p></p>
            <div class="portfolio-links">
              <a href="assets/img/portfolio/portfolio-5.jpg" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
              <a routerLink="/potfolio" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
      </div>

     

      <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <div class="portfolio-wrap">
          <img src="assets/img/portfolio/Industrial-Style-Law-Office-in-Fort.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Industrial Style Law Office in Fort</h4>
            <p> Commercial Interiors   |   1500 sq ft</p>
            <div class="portfolio-links">
              <a href="assets/img/portfolio/Industrial-Style-Law-Office-in-Fort.jpg" data-gall="portfolioGallery" class="venobox" title="Card 1"><i class="bx bx-plus"></i></a>
              <a routerLink="/portfolio" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <div class="portfolio-wrap">
          <img src="assets/img/portfolio/Bombay-Shirt-Company-in-Juhu.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Bombay Shirt Company in Juhu</h4>
            <p>Retail Interiors   |   500 sq ft</p>
            <div class="portfolio-links">
              <a href="assets/img/portfolio/Bombay-Shirt-Company-in-Juhu.jpg" data-gall="portfolioGallery" class="venobox" title="Card 3"><i class="bx bx-plus"></i></a>
              <a routerLink="/portfolio" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
      </div>

      

      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
          <img src="assets/img/portfolio/01-cover.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Luxury Home in Wadala</h4>
            <p>Residential Interiors   |   1600 sq ft</p>
            <div class="portfolio-links">
              <a href="assets/img/portfolio/portfolio-6.jpg" data-gall="portfolioGallery" class="venobox" title="App 3"><i class="bx bx-plus"></i></a>
              <a routerLink="/portfolio" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>

<!-- End Portfolio Section -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6">
          <div class="footer-info">
            <h3>Maxim</h3>
            <p>
              B 116 Chhatarpur <br>
              New Delhi, India<br><br>
              <strong>Phone:</strong> +91 8799728923<br>  +91 8802603443<br>
              <strong>Email:</strong> info@example.com<br>
            </p>
            <div class="social">
              <a href="https://www.twitter.com"><i class="bx bxl-twitter"></i></a>
              <a href="http://www.facebook.com"><i class="bx bxl-facebook"></i></a>
              <a href="https://www.instagram.com"><i class="bx bxl-instagram"></i></a>
              <a href="https://www.linkedin.com"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a routerLink="/home">Home</a></li>
            <li><i class="bx bx-chevron-right"></i> <a routerLink="/about">About us</a></li>
            <li><i class="bx bx-chevron-right"></i> <a routerLink="/services">Services</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a routerLink="/services">False Ceiling</a></li>
            <li><i class="bx bx-chevron-right"></i> <a routerLink="/services">Wooden Flooring</a></li>
            <li><i class="bx bx-chevron-right"></i> <a routerLink="/services">Wall Work</a></li>
            <li><i class="bx bx-chevron-right"></i> <a routerLink="/services">Furniture</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 footer-newsletter">
          <h4>Get in Touch</h4>
          <button style="font-size:24px; background-color: #0c1817; border: none;"><a routerLink="/contact" style="color:white">Contact Us </a><i class="fa fa-user-circle" style="margin-left: 5px;"></i></button>

        </div>

      </div>
    </div>
  </div>

</footer>

