<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"><!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="index.html">Maxim</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/about">About Us</a></li>
          <li><a routerLink="/services">Services</a></li>
          <li><a routerLink="/potfolio">Portfolio</a></li>
          <li  class="active"><a routerLink="/team">Team</a></li>
          <li><a routerLink="/products">Our Products</a></li>
          <li ><a routerLink="/cart">Cart</a></li>
          <li><a routerLink="/create-employee">Any Help?</a></li>
          <li><a routerLink="/login">login/Register</a></li>
          
          

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->
  
<section id="team" class="team">
  <div class="container">

    <div class="section-title" data-aos="fade-up">
      <h2>Team</h2>
      <p>For our dedicated team of design professionals, only the best is good enough. We are committed to delivering excellence to our clients every single time and it is our endeavour to be recognized as one of the best interior designers in Mumbai through persistance, dedication and hard work.</p>
    </div>

    <div class="row">

      <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up">
        <div class="member">
          <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>Walter White</h4>
              <span>Chief Executive Officer</span>
            </div>
            <div class="social">
              <a href="https://www.twitter.com"><i class="icofont-twitter"></i></a>
              <a href="http://www.facebook.com"><i class="icofont-facebook"></i></a>
              <a href="https://www.instagram.com"><i class="icofont-instagram"></i></a>
              <a href="https://www.linkedin.com"><i class="icofont-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="member">
          <img src="assets/img/team/team-2.jpg" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>Sarah Jhonson</h4>
              <span>Product Manager</span>
            </div>
            <div class="social">
              <a href="https://www.twitter.com"><i class="icofont-twitter"></i></a>
              <a href="http://www.facebook.com"><i class="icofont-facebook"></i></a>
              <a href="https://www.instagram.com"><i class="icofont-instagram"></i></a>
              <a href="https://www.linkedin.com"><i class="icofont-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="member">
          <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>William Anderson</h4>
              <span>CTO</span>
            </div>
            <div class="social">
              <a href="https://www.twitter.com"><i class="icofont-twitter"></i></a>
              <a href="http://www.facebook.com"><i class="icofont-facebook"></i></a>
              <a href="https://www.instagram.com"><i class="icofont-instagram"></i></a>
              <a href="https://www.linkedin.com"><i class="icofont-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
        <div class="member">
          <img src="assets/img/team/team-4.jpg" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>Amanda Jepson</h4>
              <span>Accountant</span>
            </div>
            <div class="social">
              <a href="https://www.twitter.com"><i class="icofont-twitter"></i></a>
              <a href="http://www.facebook.com"><i class="icofont-facebook"></i></a>
              <a href="https://www.instagram.com"><i class="icofont-instagram"></i></a>
              <a href="https://www.linkedin.com"><i class="icofont-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>

<!-- End Team Section -->

<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6">
          <div class="footer-info">
            <h3>Maxim</h3>
            <p>
              B 116 Chhatarpur <br>
              New Delhi, India<br><br>
              <strong>Phone:</strong> +91 8799728923<br>  +91 8802603443<br>
              <strong>Email:</strong> info@example.com<br>
            </p>
            <div class="social">
              <a href="https://www.twitter.com"><i class="bx bxl-twitter"></i></a>
              <a href="http://www.facebook.com"><i class="bx bxl-facebook"></i></a>
              <a href="https://www.instagram.com"><i class="bx bxl-instagram"></i></a>
              <a href="https://www.linkedin.com"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a routerLink="/home">Home</a></li>
            <li><i class="bx bx-chevron-right"></i> <a routerLink="/about">About us</a></li>
            <li><i class="bx bx-chevron-right"></i> <a routerLink="/services">Services</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a routerLink="/services">False Ceiling</a></li>
            <li><i class="bx bx-chevron-right"></i> <a routerLink="/services">Wooden Flooring</a></li>
            <li><i class="bx bx-chevron-right"></i> <a routerLink="/services">Wall Work</a></li>
            <li><i class="bx bx-chevron-right"></i> <a routerLink="/services">Furniture</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 footer-newsletter">
          <h4>Our Contact Details</h4>
          <button style="font-size:24px; background-color: #0c1817; border: none;"><a routerLink="/contact" style="color:white">Contact Us </a><i class="fa fa-user-circle" style="margin-left: 5px;"></i></button>

        </div>

      </div>
    </div>
  </div>

</footer>