<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="index.html">Maxim</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a routerLink="/">Home</a></li>
          <li><a routerLink="/about">About Us</a></li>
          <li><a routerLink="/services">Services</a></li>
          <li><a routerLink="/potfolio">Portfolio</a></li>
          <li><a routerLink="/team">Team</a></li>
          <li><a routerLink="/products">Our Product</a></li>
          <li ><a routerLink="/cart">Cart</a></li>
          <li><a routerLink="/create-employee">Any Help?</a></li>
          <li><a routerLink="/login">login/Register</a></li>
         
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->
  
  
   
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center text-md-left" data-aos="fade-up">
      <h1>Welcome to Maxim</h1>
      <h2>We are team of talanted designers</h2>
      <a href="/about" class="btn-get-started scrollto">Get Started</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">
    
          <div class="row">
            <div class="col-xl-6 col-lg-7" data-aos="fade-right">
              <img src="assets/img/about-img.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-xl-6 col-lg-5 pt-5 pt-lg-0">
              <h1 data-aos="fade-up">Interior design is for everyone.</h1>
        
              <div class="icon-box" data-aos="fade-up">
                <i class="bx bx-receipt"></i>
                <p>Find your happy place You deserve a home that is functional and stylish, today. Don’t put it off until the kids are older or you have more time. We can create a beautiful space that fits your needs so you don’t have to be embarrassed to host book club next month.</p>
              </div>
    
              <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                <i class="bx bx-cube-alt"></i>
                
                <p>Create a lasting relationship
                  Your Havenly pro is your friend, your guide, and your partner in home design. They’ll take care of your needs, help you create a custom space that grows with you, and they’re only a message away.</p>
              </div>
    
              <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                <i class="bx bx-cube-alt"></i>
                <p>Delightfully affordable We believe that interior design should be accessible to everyone. That’s why Havenly packages are designed to be affordable, and our designers are trained to work within your budget.</p>
              </div>
    
            </div>
          </div>
    
        </div>
      </section>
    
    <!-- End About Section -->

    <!-- ======= Steps Section ======= -->
    <section id="steps" class="steps section-bg">
      <div class="container">
        <h1 data-aos="fade-up">Even Simpler Than You Think
        </h1>
        <div class="row no-gutters">
        
          <div class="col-lg-4 col-md-6 content-item" data-aos="fade-in">
            
            <span>01</span>
            
            <p>Tell us what you need
              Pick a room, set your budget and tell us about your Pinterest worthy dreams – whether a full overhaul, or just some ideas to pull it together.
              
              :-)
              </p>
          </div>

          <div class="col-lg-4 col-md-6 content-item" data-aos="fade-in" data-aos-delay="100">
            <span>02</span>
            <p>Collaborate online
              Put on the stretchy pants, grab a glass of wine, and hop online. Select your Havenly designer and work one-on-one throughout the entire process to find stylish solutions that fit your style and budget.</p>
          </div>

          <div class="col-lg-4 col-md-6 content-item" data-aos="fade-in" data-aos-delay="200">
            <span>03</span>
            
            <p>Get the V.I.P. treatment
              Our concierge team works directly with you to provide instant access to hundreds of brands. We take care of ordering and shipping too, so you can focus on important things, like binge watching 20 episodes of The Great British Baking Show.</p>
          </div>

          

        </div>

      </div>
    </section><!-- End Steps Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 mb-5 mb-lg-0" data-aos="fade-right">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-toggle="tab" href="#tab-1">
                  <h4>Personal Designer</h4>
                  <p>Will transform your every need into functional & aesthetic design, and help you plan your space intelligently.</p>
                </a>
              </li>
              <li class="nav-item mt-2">
                <a class="nav-link" data-toggle="tab" href="#tab-2">
                  <h4>VR Experience</h4>
                  <p>Our state-of-the-art Virtual Reality technology lets you ‘try before you buy’.</p>
                </a>
              </li>
              <li class="nav-item mt-2">
                <a class="nav-link" data-toggle="tab" href="#tab-3">
                  <h4>Reputed Partners</h4>
                  <p>One look at our partners & you will realise that they are all category experts.</p>
                </a>
              </li>
              <li class="nav-item mt-2">
                <a class="nav-link" data-toggle="tab" href="#tab-4">
                  <h4>Built to Last</h4>
                  <p>sWe ensure the best raw material, German machinery & exemplary factory finish.</p>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-lg-7 ml-auto" data-aos="fade-left">
            
                
                  <img src="assets/img/features-1.png" alt="" class="img-fluid">
                
              </div>
              
            </div>
          </div>
        
     
    </section> <!--End Features Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
        <div class="container">
    
          <div class="section-title" data-aos="fade-up">
            <h2>Services</h2>
            
          </div>
    
          <div class="row">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up">
              <div class="icon-box icon-box-pink">
                <div class="icon"><i class="bx bxl-dribbble"></i></div>
                <h4 class="title"><a href="/services">FALSE CEILING</a></h4>
                <p class="description">Ceilings are one of 
                  the important elements of an interior space as they offer the maximum unobstructed view of working spaces.</p>
              </div>
            </div>
    
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
              <div class="icon-box icon-box-cyan">
                <div class="icon"><i class="bx bx-file"></i></div>
                <h4 class="title"><a href="">WOODEN FLOORING</a></h4>
                <p class="description">Wooden flooring has replaced traditional marble and stone as the choice for interiors in man’s constant search for a more functionally evolved and aesthetically superior floor surface material. </p>
              </div>
            </div>
    
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="200">
              <div class="icon-box icon-box-green">
                <div class="icon"><i class="bx bx-tachometer"></i></div>
                <h4 class="title"><a href="">WALL WORK</a></h4>
                <p class="description">We try to put your heart and soul into designing, the living room would top the list. </p>
              </div>
            </div>
    
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="300">
              <div class="icon-box icon-box-blue">
                <div class="icon"><i class="bx bx-world"></i></div>
                <h4 class="title"><a href="">FURNITURE</a></h4>
                <p class="description">Your home is more than a house, it’s the daily moments and experiences you share that make it uniquely you. At BID, we celebrate being home with you.</p>
              </div>
            </div>
    
          </div>
    
        </div>
      </section>
    
    <!-- End Services Section -->

    
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
        <div class="container">
    
          <div class="section-title" data-aos="fade-up">
            <h2>Portfolio</h2>
            <p>Over the last twelve years, Our Design has come to be recognised as one of the very best interior designers in India. Our area of specialization is luxury interiors, which is something we love and excel at. We are very well regarded within the community of interior decorators as well as the ever growing society of home owners across the country, for the quality of our services and our continual attention to detail.</p>
          </div>
    
          <div class="row" data-aos="fade-up">
            <div class="col-lg-12 d-flex justify-content-center">
              <ul id="portfolio-flters">
                <li data-filter="*" class="filter-active">All</li>
                <li data-filter=".filter-app">Residential</li>
                <li data-filter=".filter-card">Commercial</li>
                <li data-filter=".filter-web">Designed Items</li>
              </ul>
            </div>
          </div>
    
          <div class="row portfolio-container" data-aos="fade-up">
    
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img src="assets/img/portfolio/01-cover (1).jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                 
                  <h4>Residential Interiors  </h4>
                  <div class="portfolio-links">
                    <a href="assets/img/portfolio/01-cover (1).jpg" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="bx bx-plus"></i></a>
                    <a routerLink="/potfolio" title="More Details"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
    
            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
              <div class="portfolio-wrap">
                <img src="assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4> Decorative Flower pot</h4>

                  <div class="portfolio-links">
                    <a href="assets/img/portfolio/portfolio-4.jpg" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
                    <a routerLink="/potfolio" title="More Details"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
    
            
    
            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <div class="portfolio-wrap">
                <img src="assets/img/portfolio/Cutting-Edge-Office-in-Mulund.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  
                  <h4> Commercial Interiors </h4>
                  <div class="portfolio-links">
                    <a href="assets/img/portfolio/portfolio-4.jpg" data-gall="portfolioGallery" class="venobox" title="Card 2"><i class="bx bx-plus"></i></a>
                    <a routerLink="/potfolio" title="More Details"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
    
            
        </div>
        </div>
      </section>
    
    <!-- End Portfolio Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
        <div class="container">
    
          <div class="section-title" data-aos="fade-up">
            <h2>Team</h2>
            <p>For our dedicated team of design professionals, only the best is good enough. We are committed to delivering excellence to our clients every single time and it is our endeavour to be recognized as one of the best interior designers in Mumbai through persistance, dedication and hard work.</p>
          </div>
    
          <div class="row">
    
            <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up">
              <div class="member">
                <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">
                <div class="member-info">
                  <div class="member-info-content">
                    <h4>Walter White</h4>
                    <span>Chief Executive Officer</span>
                  </div>
                  <div class="social">
                    <a href="https://www.twitter.com"><i class="icofont-twitter"></i></a>
                    <a href="http://www.facebook.com"><i class="icofont-facebook"></i></a>
                    <a href="https://www.instagram.com"><i class="icofont-instagram"></i></a>
                    <a href="https://www.linkedin.com"><i class="icofont-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
    
            <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
              <div class="member">
                <img src="assets/img/team/team-2.jpg" class="img-fluid" alt="">
                <div class="member-info">
                  <div class="member-info-content">
                    <h4>Sarah Jhonson</h4>
                    <span>Product Manager</span>
                  </div>
                  <div class="social">
                    <a href="https://www.twitter.com"><i class="icofont-twitter"></i></a>
                    <a href="http://www.facebook.com"><i class="icofont-facebook"></i></a>
                    <a href="https://www.instagram.com"><i class="icofont-instagram"></i></a>
                    <a href="https://www.linkedin.com"><i class="icofont-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
    
            <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="member">
                <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="">
                <div class="member-info">
                  <div class="member-info-content">
                    <h4>William Anderson</h4>
                    <span>CTO</span>
                  </div>
                  <div class="social">
                    <a href="https://www.twitter.com"><i class="icofont-twitter"></i></a>
                    <a href="http://www.facebook.com"><i class="icofont-facebook"></i></a>
                    <a href="https://www.instagram.com"><i class="icofont-instagram"></i></a>
                    <a href="https://www.linkedin.com"><i class="icofont-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
    
            <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
              <div class="member">
                <img src="assets/img/team/team-4.jpg" class="img-fluid" alt="">
                <div class="member-info">
                  <div class="member-info-content">
                    <h4>Amanda Jepson</h4>
                    <span>Accountant</span>
                  </div>
                  <div class="social">
                    <a href="https://www.twitter.com"><i class="icofont-twitter"></i></a>
                    <a href="http://www.facebook.com"><i class="icofont-facebook"></i></a>
                    <a href="https://www.instagram.com"><i class="icofont-instagram"></i></a>
                    <a href="https://www.linkedin.com"><i class="icofont-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
    
          </div>
    
        </div>
      </section>
    
    <!-- End Team Section -->

    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>F.A.Q</h2>
        </div>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" class="collapse" href="#faq-list-1">   How you handled covid-19 situation ? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse show" data-parent=".faq-list">
                <p>
                  We understand that the incident of Covid-19 has impacted you in one or many ways. We have asked all our associates, partners to follow Government guidelines and best practices of Hygiene. We have allowed several departments to work remotely and provide tools to remain virtually connected to support each other for continuance of business. Our office is operational with limited workforce, and all the necessary precautionsthat are Sanitization,Temperature checks, masks and social distancing; however, we recommend remote Discussion for Design Showcases, and would prefer in office meetings only for material selections by appointment.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-2" class="collapsed">When is the good time to start thinking about Interior design of my newly bought home? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-parent=".faq-list">
                <p>
                  We believe that it is best to start with the design process 3 months before possession.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-3" class="collapsed">How do i get strated with Interior design? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-parent=".faq-list">
                <p>
                  You need to select a theme to get started with Interior Design. This is only a start point as it helps us understand your design needs and preferences better.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-4" class="collapsed">Is there anyrhing u dont do as Interior designers?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-4" class="collapse" data-parent=".faq-list">
                <p>
                  We only undertake design of homes that at least need kitchens and wardrobes. Anything less than this, and we usually don’t do.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="400">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-5" class="collapsed">What does the Implementation Cost include? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-5" class="collapse" data-parent=".faq-list">
                <p>
                  Our design themes can cost between 4 to 8 lacs for a 2 BHK home.At the lower end of the design offering, for 4 lacs – you get kitchens, wardrobes, wallpapers, and wall art. At the higher end of the design offering, for ₹8 lacs – you get every single thing that you see in the 3D video. This cost however, does not include the tiles, bathrooms and any other electrical equipment that you see.
                </p>
              </div>
            </li>

          </ul>
        </div>

      </div>
    </section><!-- End F.A.Q Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">
    
          <div class="section-title" data-aos="fade-up">
            <h2>Contact</h2>
            <p>We the team of Maxim is always dedicated to provide our best services to our clients and we are here whenever you need.Just drop a mail or make a call we will be getting in touch with you to guide you. </p>
          </div>
    
          <div class="row no-gutters justify-content-center" data-aos="fade-up">
    
            <div class="col-lg-5 d-flex align-items-stretch">
              <div class="info">
                <div class="address">
                  <i class="icofont-google-map"></i>
                  <h4>Location:</h4>
                  <p>B 116 Chhatarpur, New Delhi , Delhi</p>
                </div>
    
                <div class="email mt-4">
                  <i class="icofont-envelope"></i>
                  <h4>Email:</h4>
                  <p>info@maxim.com</p>
                </div>
    
                <div class="phone mt-4">
                  <i class="icofont-phone"></i>
                  <h4>Call:</h4>
                  <p>+91 8146152680</p>
                  <p>+91 9803565949</p>
                </div>
    
              </div>
    
            </div>
    
            <div class="col-lg-5 d-flex align-items-stretch">
              
              <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d13590.935463487956!2d74.91959877243681!3d31.613751424895646!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x39197d226a8b1bb7%3A0xa80e5cb58a62a1c1!2sNew%20Amritsar%20Colony%2C%20Amritsar%2C%20Punjab!3m2!1d31.6153618!2d74.9296456!5e0!3m2!1sen!2sin!4v1607242154135!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
    
          </div>
    
          
        </div>
      </section>
    
    <!-- End Contact Section -->
    <footer id="footer">
        <div class="footer-top">
          <div class="container">
            <div class="row">
    
              <div class="col-lg-3 col-md-6">
                <div class="footer-info">
                  <h3>Maxim</h3>
                  <p>
                    B 116 Chhatarpur <br>
                    New Delhi, India<br><br>
                    <strong>Phone:</strong> +91 8799728923<br>  +91 8802603443<br>
                    <strong>Email:</strong> info@example.com<br>
                  </p>
                  <div class="social">
                    <a href="https://www.twitter.com"><i class="bx bxl-twitter"></i></a>
                    <a href="http://www.facebook.com"><i class="bx bxl-facebook"></i></a>
                    <a href="https://www.instagram.com"><i class="bx bxl-instagram"></i></a>
                    <a href="https://www.linkedin.com"><i class="bx bxl-linkedin"></i></a>
                  </div>
                </div>
              </div>
    
              <div class="col-lg-2 col-md-6 footer-links">
                <h4>Useful Links</h4>
                <ul>
                  <li><i class="bx bx-chevron-right"></i> <a routerLink="/home">Home</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a routerLink="/about">About us</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a routerLink="/services">Services</a></li>
                </ul>
              </div>
    
              <div class="col-lg-3 col-md-6 footer-links">
                <h4>Our Services</h4>
                <ul>
                  <li><i class="bx bx-chevron-right"></i> <a routerLink="/services">False Ceiling</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a routerLink="/services">Wooden Flooring</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a routerLink="/services">Wall Work</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a routerLink="/services">Furniture</a></li>
                </ul>
              </div>
    
              <div class="col-lg-4 col-md-6 footer-newsletter">
                <h4>Get in Touch</h4>
                <button style="font-size:24px; background-color: #0c1817; border: none;"><a routerLink="/contact" style="color:white">Contact Us </a><i class="fa fa-user-circle" style="margin-left: 5px;"></i></button>

              </div>
    
            </div>
          </div>
        </div>
    
      </footer>

  </main><!-- End #main -->

  
